.recommend{
    
    .content{
        display: flex;
        border: 1px solid #d3d3d3;
        background-color: #fff;
        
        .recommend_left{
            padding: 20px 20px 40px;
            width: 730px;
        }
    }

}
