.songcover{
    margin-bottom: 30px;
    width: 140px;
    height: 204px;
    margin-left: 9px;
    margin-right: 9px;
    .cover-top{
        position: relative;

        .cover{
            background-position: 0 0;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

        }
        .bottom{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 27px;
            background-position: 0 -537px;
            color: #ccc;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 10px;
            
            .erji{
                margin-right: 5px;
                display: inline-block;
                width: 14px;
                height: 11px;
                background-position: 0 -24px;

            }
            .play{
                display: inline-block;
                width: 16px;
                height: 17px;
                background-position: 0 0;
            }
            .number{
                color: #ccc;
                margin-bottom: -2px;
                padding: 0;
                margin-left: -40px;
            }


        }

    }
    .cover-title{
        font-size: 14px;
        color: #000;
        margin-top: 5px;

    }
    .cover-source{

    }
}